---
name: "{{ current_env.environmentName }}-license-server"
credentialsId: ""
labels:
- "solutionInstance-{{ current_env.environmentName }}"
- "solution-{{ current_env.tenant }}"
isServerSideMerge: false
cleanInstallApprovalRequired: true
mergeDeployParametersAndE2EParameters: false
deployParameters:
  LICENSE_SERVER_CREATE_CLUSTER_ROLE_AND_BINDING: true
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets: []
e2eParameterSets: []
technicalConfigurationParameterSets: []

