---
name: "{{ current_env.environmentName }}-mongodb-backup"
credentialsId: ""
labels:
- "solutionInstance-{{ current_env.environmentName }}"
- "solution-{{ current_env.tenant }}"
isServerSideMerge: false
cleanInstallApprovalRequired: true
mergeDeployParametersAndE2EParameters: false
deployParameters:
  dbaas:
    dbaasAggregatorPhysicalDatabaseIdentifier: "mongodb.{{ current_env.environmentName }}-mongodb-backup" 
  mongodb:
    rootUser: "${creds.get(\"mongodb-backup-root-cred\").username}"
    rootPassword: "${creds.get(\"mongodb-backup-root-cred\").password}"
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets:
  - mongodb
e2eParameterSets: []
technicalConfigurationParameterSets: []

