---
name: "{{ current_env.environmentName }}-site-manager"
credentialsId: ""
labels:
- "solutionInstance-{{ current_env.environmentName }}"
- "solution-{{ current_env.tenant }}"
isServerSideMerge: false
cleanInstallApprovalRequired: true
mergeDeployParametersAndE2EParameters: false
deployParameters:
  ingress:
    name: "site-manager.apps.{{ current_env.cluster.cloud_public_url }}"
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets:
  - site-manager
e2eParameterSets: []
technicalConfigurationParameterSets: []
