---
name: "{{current_env.environmentName}}-data-management"
credentialsId: ""
tenantName: "{{_tenant}}"
labels:
- "solutionInstance-{{env}}"
- "solution-{{_tenant}}"
isServerSideMerge: false
cleanInstallApprovalRequired: false
mergeDeployParametersAndE2EParameters: false
profile:
  name: dev_dm_override_hawk
  baseline: dev
deployParameters:
  COMPOSITE_PLATFORM: "true"
  CONSUL_ENABLED: "true"
  BSS_NAMESPACE: "{{current_env.environmentName}}-bss"
  CORE_NAMESPACE: "{{current_env.environmentName}}-core"
  DATA_MANAGEMENT_NAMESPACE: "{{current_env.environmentName}}-data-management"
  OSS_NAMESPACE: "{{current_env.environmentName}}-oss"
  # ETBSS-2100
  DBAAS_LODB_PER_NAMESPACE_AUTOBALANCE_RULES: "postgresql=>postgresql-reporting:postgres"
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets:
- data-management-wa
- data-management-configuration
e2eParameterSets: []
technicalConfigurationParameterSets:
- data-management-tech
