name: "{{current_env.tenant}}"
registryName: "default"
description: "{{current_env.description}}"
owners: "{{current_env.owners}}"
deployParameters:
  CMDB_SCHEME: "CLOUD_PER_ENV"  # Added as per ETBSS-1052
globalE2EParameters:
  pipelineDefaultRecipients: ""
  recipientsStrategy: "merge"
  mergeTenantsAndE2EParameters: false
  environmentParameters: 
    # ETBSS-1243
    WEBEX_TOKEN: "MGE3MjYwNTQtZGE4My00MTlkLWIzN2MtZjU5YTg3NDA2Yzk0MzlmZmViZGUtYWY4_PF84_ba052c1a-a74c-48df-aead-18cddd1bffcc"
    # ETBSS-5151
    # INSTANSES_REPO: "SD.prj/deployment-configuration/prj-env-instances-rnd"
    # ETBSS-22537
    PROMOTE_CONFIG: '{"PROJECT_APP_PREFIX": "prj", "PROMOTE_JOB": "https://cloud-deployer.qubership.com/job/prj/job/regular.update.Promote"}'
gitRepository: ""
defaultBranch: ""
credential: ""
labels: []
