name: "{{current_env.tenant}}"
registryName: "Shared Platform Registry"
description: "{{current_env.description}}"
owners: "{{current_env.owners}}"
deployParameters: {}
globalE2EParameters:
  pipelineDefaultRecipients: ""
  recipientsStrategy: "merge"
  mergeTenantsAndE2EParameters: false
  environmentParameters: {}
gitRepository: "https://git.qubership.com/PROD.CCSM.CloudBSS/cloudbss-cmdb-configurations.git"
defaultBranch: ""
credential: ""
labels:
- DEV
