---
name: "{{current_env.tenant}}"
registryName: "default-infra-services"
description: "{{current_env.description}}"
owners: "{{current_env.owners}}"
deployParameters:
  ESCAPE_SEQUENCE: "true"
globalE2EParameters:
  pipelineDefaultRecipients: ""
  recipientsStrategy: "merge"
  mergeTenantsAndE2EParameters: false
  environmentParameters:  
    PROFILE: nd_dev;ftpd_dev;dev_az11;dev
    PARALLEL_CHUNKS_ENABLED_APPROVAL: 'false'
gitRepository: ""
defaultBranch: ""
credential: ""
labels: []
