---
name: "design-time"
credentialsId: ""
tenantName: "{{_tenant}}"
labels:
- "solutionInstance-{{env}}"
- "solution-{{_tenant}}"
isServerSideMerge: false
cleanInstallApprovalRequired: false
mergeDeployParametersAndE2EParameters: false
profile:
  name: dev_dt_override
  baseline: dev
deployParameters:
  CONSUL_ENABLED: "true"
  # ETBSS-2100
  DBAAS_LODB_PER_NAMESPACE_AUTOBALANCE_RULES: "postgresql=>postgresql-design:postgres"
  ENV_NAME: "{{current_env.environmentName}}" 
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets:
- "design-time-configuration"
e2eParameterSets: []
technicalConfigurationParameterSets: []
